# Node
node_modules/
pnpm-lock.yaml
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Svelte/Vite
.svelte-kit/
build/
dist/
.vite/

# TypeScript
*.tsbuildinfo

# SQLite
sqlite.db

drizzle/meta/*.json
# Keep migration SQL files
!drizzle/*.sql

# Environment
.env*

# Docker
*.tar
*.tar.xz
docker-compose.override.yml
docker-compose.local.yml

# VS Code
.vscode/

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Web static/build
web/assets/
web/node_modules/
web/dist/
web/.vite/

# Backups/Worlds
worlds/*.tar.xz
!worlds/.gitkeep

# Misc
*.log
*.bak
*.tmp
/web
